@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Crowdfunding.Model.Project>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <!--<th>image</th>-
            <th>video</th>-->
            <th>Fundings</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
        <tr>
            <td> <a href="/project/projectview/@project.Id" title="View"><b> @project.Title</b></a></td>
            <td> @project.Description </td>
            <td>



                @if (project.Description != null)
                {
                    <img src="/images/@project.Description" title="Project image" width="100px" height="100px" />
                }



            </td>
            <td> @project.Fundings </td>
            <td> @project.StatusUpdate </td>
            <td> @project.Category </td>
            @*/ <td> <a href="/product/delete/@project.Id" title="delete"><b>X</b></a> </td>
        <td> <a href="/product/update/@project.Id" title="update"><b>V</b></a> </td>/*@
        </tr>
        }
    </tbody>
</table>

<div class="container">

</div>

<div class="container">

</div>