

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Crowdfunding.Model.Project>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 9px;
            letter-spacing: 2px;
            padding: 12px 20px 12px 40px;
            border: 0px solid #ddd;
            margin-bottom: 12px;
        }

        #myUL {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            #myUL li a {
                border: 1px solid #ddd;
                margin-top: -1px; /* Prevent double borders */
                background-color: #f6f6f6;
                padding: 12px;
                text-decoration: none;
                font-size: 11px;
                color: black;
                display: block
            }

                #myUL li a:hover:not(.header) {
                    background-color: #eee;
                }
    </style>
</head>
<body>

     <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Browse Projects</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
               
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Browse by Category
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Movies">Movies</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Boardgames">Boardgames</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Applications">Applications</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Games">Games</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="TechnologyandElectronics">Technology and Electronics</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Nutrition">Nutrition</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Other">Other</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

    <br />

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Project" title="Type in a Project's Name'">

    <br />
    <br />

    <a class="btn btn-primary" asp-controller="Project" asp-action="Index">View all Projects</a>

    <br />
    <br />
    <br />


    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <!--<th>image</th>-
            <th>video</th>-->
                <th>Fundings</th>
                <th>Category</th>
            </tr>
        </thead>

            <h3>Funded Projects</h3>
            @foreach (var project in Model ?? Enumerable.Empty<Crowdfunding.Model.Project>())
            {
                <tr>
                    <td> @project.Title</td>
                    <td> @project.Description </td>
                    <td>



                        @if (project.Description != null)
                        {
                            <img src="/images/@project.Description" title="Project image" width="100px" height="100px" />
                        }



                    </td>
                    <td> @project.Fundings </td>
                    <td> @project.StatusUpdate </td>
                    <td> @project.Category </td>
                    @*/ <td> <a href="/product/delete/@project.Id" title="delete"><b>X</b></a> </td>
                    <td> <a href="/product/update/@project.Id" title="update"><b>V</b></a> </td>/*@
                </tr>
            }
        </tbody>
    </table>

    <script>
        function myFunction() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>

 <div class="container">

 </div>

  <div class="container">

 </div>

</body>
