@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Edit Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Crowdfunding.Model
@model ProjectFunding
<hr />

<table class="table table-dark table-bordered mb-0">
    <thead>
        <tr>
            <th scope="col">TITLE</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">GOAL</th>
            <th scope="col">FUNDING</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Project.Title</th>
            <th> @Model.Project.Description</th>
            <th>@Model.Project.Goal </th>
            <th>@Model.Project.Fundings</th>
        </tr>

    </tbody>
    <table class="table">
        <thead>
            <tr>
                <th>Tier</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var Package in Model.FundingPackages)
            {
            <tr>
                <td> @Package.Tier</td>
                <td> @Package.Name </td>
                <td> @Package.Description </td>
                <td> @Package.Price </td>
                <td> <a href="/backer/buypackage/@Package.Id" title="Buy"><b>Buy</b></a> </td>
            </tr>
            }
        </tbody>
    </table>
   
</table>

<table class="table">
    <thead>
        <tr>
            <th>Status Updates</th>

        </tr>
    </thead>
    <tbody>

       
        
            <tr>
                <td> @Model.Project.StatusUpdate</td>
                @*/ <td> <a href="/product/delete/@project.Id" title="delete"><b>X</b></a> </td>
                    <td> <a href="/product/update/@project.Id" title="update"><b>V</b></a> </td>/*@
            </tr>
        
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-area="" asp-controller="Backer" asp-action="Index">Go Back</a> <!-- redirect - backerpage -->
</div>

<br />

<div>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back to Home Page</a> <!-- redirect - homepage -->
</div>


<div class="container">

</div>


<div class="container">

</div>


<div class="container">

</div>